@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --main-color: #3C322D;
  --acent-color: #F3848C;
  --accent-white-color: #F6F7F7;
  --text-white-color: #FFFFFF;
  --side-menu-background: #E5E2E3;
  --montserrat-family: "Montserrat", sans-serif;
  --montserrat-font-weight-400: 400;
  --montserrat-font-weight-500: 500;
  --montserrat-font-weight-600: 600;
  --montserrat-alternates-family: "Montserrat Alternates", sans-serif;
  --montserrat-alternates-font-weight-500: 500;
  --montserrat-alternates-font-weight-600: 600;
  --general-transition-effect: .4s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--montserrat-family);
  color: var(--main-color);
  background: -o-linear-gradient(269.89deg, #E5E2E3 10.73%, #FDFEFE 38.02%, #E5E2E3 71.11%, #FDFEFE 99.91%) no-repeat;
  background: linear-gradient(180.11deg, #E5E2E3 10.73%, #FDFEFE 38.02%, #E5E2E3 71.11%, #FDFEFE 99.91%) no-repeat;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 16px;
    max-width: 1280px;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hero__image-wrapper {
  padding-top: 16px;
  padding-bottom: 8px;
  margin: 0px auto;
  background-image: url("../images/header/background-480.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__image-wrapper {
    background-image: url("../images/header/background-480@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .hero__image-wrapper {
    padding-top: 24px;
    padding-bottom: 43px;
    background-image: url("../images/header/background-768.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__image-wrapper {
    background-image: url("../images/header/background-768@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image-wrapper {
    max-width: 1600px;
    padding-top: 36px;
    padding-bottom: 90px;
    background-image: url("../images/header/background-1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__image-wrapper {
    background-image: url("../images/header/background-1280@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hero__title {
  font-family: var(--montserrat-alternates-family);
  font-weight: var(--montserrat-alternates-font-weight-600);
  margin-bottom: 20px;
  max-width: 280px;
  font-size: 28px;
  line-height: 1.21;
}
@media screen and (max-width: 767.98px) {
  .hero__title {
    text-align: center;
    letter-spacing: -0.03em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .hero__title {
    max-width: 319px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    max-width: 757px;
    font-size: 60px;
    line-height: 1.08;
  }
}
.hero__subtitle {
  font-family: var(--montserrat-alternates-family);
  font-weight: var(--montserrat-alternates-font-weight-500);
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    font-size: 24px;
    line-height: 1.2;
  }
}
.hero__register-link {
  background-color: var(--acent-color);
  -webkit-filter: drop-shadow(rgba(232, 183, 183, 0.45) 10px 15px 25px);
          filter: drop-shadow(rgba(232, 183, 183, 0.45) 10px 15px 25px);
  text-align: center;
  color: var(--text-white-color);
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.22;
  display: inline-block;
  border: 1px solid var(--acent-color);
  border-radius: 25px;
  padding: 9px 35px;
  text-decoration: none;
}
.hero__register-link:focus, .hero__register-link:hover {
  background-color: var(--text-white-color);
  color: var(--acent-color);
}
.hero__register-link:active {
  color: var(--text-white-color);
  background-color: var(--acent-color);
  -webkit-box-shadow: rgba(107, 66, 66, 0.25) 0px 4px 4px inset;
          box-shadow: rgba(107, 66, 66, 0.25) 0px 4px 4px inset;
}

.social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.social__icon {
  fill: currentcolor;
}
.social__link {
  color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__link:focus, .social__link:hover {
  color: var(--acent-color);
}

.header__container {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .header__container {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    margin-bottom: 65px;
  }
}
.header__flex-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__atributes {
  z-index: 100;
}
@media screen and (min-width: 1280px) {
  .header__atributes {
    margin-right: 55px;
  }
}
.header__button-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  top: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .header__button-menu {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media screen and (min-width: 1280px) {
  .header__button-menu {
    display: none;
  }
}
.header__menu-icon {
  fill: currentColor;
}
@media screen and (max-width: 767.98px) {
  .header__menu {
    padding-top: 112px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header__menu {
    padding-top: 140px;
  }
}
.header__navigation {
  height: 100%;
  overflow-y: auto;
}

.open-button {
  visibility: hidden;
  opacity: 0;
}
.open-button.open {
  visibility: visible;
  opacity: 1;
}

.close-button {
  visibility: visible;
  opacity: 1;
}
.close-button.close {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 1279.98px) {
  .header__menu {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-color: var(--side-menu-background);
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-transition: opacity var(--general-transition-effect);
    -o-transition: opacity var(--general-transition-effect);
    transition: opacity var(--general-transition-effect);
  }
  .header__menu.is-hide {
    opacity: 0;
    pointer-events: none;
  }
}
@media screen and (min-width: 1280px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    gap: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 4px;
  }
}
.navigation__link {
  font-family: var(--montserrat-alternates-family);
  font-weight: var(--montserrat-alternates-font-weight-500);
  color: var(--main-color);
  font-size: 28px;
  line-height: 1.21;
  display: inline-block;
  padding: 10px 28px;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .navigation__link {
    font-size: 40px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__link {
    font-family: var(--montserrat-family);
    font-size: 18px;
    line-height: 1.22;
    padding: 4px 8px;
  }
}
.navigation__link:focus, .navigation__link:hover {
  color: var(--text-white-color);
  -webkit-filter: drop-shadow(rgba(232, 183, 183, 0.45) 10px 15px 25px);
          filter: drop-shadow(rgba(232, 183, 183, 0.45) 10px 15px 25px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 110, 103, 0.63)), to(rgba(253, 86, 143, 0.86)));
  background-image: -o-linear-gradient(rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  background-image: linear-gradient(rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
}

.reviews__title {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #2e2520;
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .reviews__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
  }
}

.slider__star-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.slider__person-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
@media screen and (min-width: 1280px) {
  .slider__person-name {
    font-size: 16px;
    line-height: 20px;
  }
}
.slider__wrapper {
  max-width: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .slider__wrapper {
    max-width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .slider__wrapper {
    max-width: 288px;
  }
}

.slider .slick-list {
  overflow: hidden;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .slider .slick-list {
    padding: 0 !important;
    margin: 0 90px 27px;
    height: 520px;
  }
}
@media screen and (min-width: 1280px) {
  .slider .slick-list {
    height: 630px;
    margin-bottom: 30px;
  }
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slick-active {
  -webkit-transition: -webkit-transform var(--general-transition-effect);
  transition: -webkit-transform var(--general-transition-effect);
  -o-transition: transform var(--general-transition-effect);
  transition: transform var(--general-transition-effect);
  transition: transform var(--general-transition-effect), -webkit-transform var(--general-transition-effect);
}

@media screen and (min-width: 768px) {
  .slider .slick-current {
    -webkit-transform: translateY(250px);
        -ms-transform: translateY(250px);
            transform: translateY(250px);
  }
}
@media screen and (min-width: 1280px) {
  .slider .slick-current {
    -webkit-transform: translateY(220px);
        -ms-transform: translateY(220px);
            transform: translateY(220px);
  }
}

@media screen and (min-width: 768px) {
  .slider .slick-current .slider__image-wrapper {
    margin-bottom: 60px;
  }
}

.slider__image {
  -webkit-transition: -webkit-filter var(--general-transition-effect);
  transition: -webkit-filter var(--general-transition-effect);
  -o-transition: filter var(--general-transition-effect);
  transition: filter var(--general-transition-effect);
  transition: filter var(--general-transition-effect), -webkit-filter var(--general-transition-effect);
}
.slider__image:hover, .slider__image:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slider .slick-current .slider__image {
  -webkit-transition: -webkit-transform var(--general-transition-effect);
  transition: -webkit-transform var(--general-transition-effect);
  -o-transition: transform var(--general-transition-effect);
  transition: transform var(--general-transition-effect);
  transition: transform var(--general-transition-effect), -webkit-transform var(--general-transition-effect);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 768px) {
  .slider .slick-current .slider__image {
    -webkit-transform: scale(1.75);
        -ms-transform: scale(1.75);
            transform: scale(1.75);
  }
}
@media screen and (min-width: 1280px) {
  .slider .slick-current .slider__image {
    -webkit-transform: scale(1.36);
        -ms-transform: scale(1.36);
            transform: scale(1.36);
  }
}

.slidertext {
  position: relative;
  overflow: hidden;
}
.slidertext__comment {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2e2520;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
@media screen and (min-width: 768px) {
  .slidertext__comment {
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .slidertext__comment {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
  }
}

.slidetext .slick-list {
  overflow: hidden;
}

.slidertext .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slidertext .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4px;
}

.slidertext .slick-dots button {
  display: none;
  font-family: var(--montserrat-family);
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
}

.slidertext .slick-dots li.slick-active button {
  display: block;
}

.slidertext .slick-dots li:last-child button::before {
  content: "/";
}

.slidertext .slick-dots li:last-child button {
  display: block;
}

.slidertext .slick-arrow {
  position: absolute;
  font-size: 0;
  cursor: pointer;
  border: 2px solid var(--acent-color);
  padding: 0 35px 0 0;
  margin-bottom: 12px;
}
.slidertext .slick-arrow:hover, .slidertext .slick-arrow:focus {
  border-color: #876655;
}
.slidertext .slick-arrow:active {
  border-color: #674d40;
}

.slidertext .slick-arrow.slick-prev {
  left: calc(50% - 60px);
  bottom: 0;
}

.slidertext .slick-arrow.slick-next {
  right: calc(50% - 60px);
  bottom: 0;
}

.title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 1.218;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    margin-bottom: 5px;
  }
}

.speakers {
  background-color: #F6F7F7;
}
.speakers__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .speakers__list {
    gap: 32px;
  }
}
.speakers__item {
  -ms-flex-preferred-size: calc((100% - 20px) / 2);
      flex-basis: calc((100% - 20px) / 2);
}
@media screen and (min-width: 768px) {
  .speakers__item {
    -ms-flex-preferred-size: calc((100% - 96px) / 4);
        flex-basis: calc((100% - 96px) / 4);
  }
}
.speakers__picture--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .speakers__picture--wrapper {
    margin-bottom: 20px;
  }
}

.speakers__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .speakers__title {
    font-size: 18px;
    line-height: 1.222;
    margin-bottom: 20px;
  }
}

.profession {
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 1.25;
  color: var(--main-color);
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .profession {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 768px) {
  .profession {
    font-size: 14px;
    line-height: 1.214;
  }
}

.registration-button {
  display: block;
  width: 145px;
  height: 40px;
  text-align: center;
  padding: 9px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  color: var(--accent-white-color);
  background-color: var(--acent-color);
  -webkit-filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
          filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.registration-button:hover {
  background-color: var(--accent-white-color);
  color: var(--acent-color);
  border: 1px solid var(--acent-color);
}
.registration-button:focus {
  color: var(--accent-white-color);
  background-color: var(--acent-color);
  -webkit-box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
          box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
}

.registration-button a {
  color: var(--accent-white-color);
}

.section-title {
  font-family: var(--montserrat-alternates-family);
  font-weight: var(--montserrat-alternates-font-weight-500);
  line-height: 29px;
  text-align: center;
}

.price {
  margin-bottom: 40px;
}

.price__title {
  margin-bottom: 28px;
}

.price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  padding: 20px 18px 20px 8px;
  background: #FAFBFB;
  -webkit-box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
          box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 25px;
  border: 1px solid transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-card:hover {
  border: 1px solid var(--acent-color);
}

.price-card:not(:last-child) {
  margin-bottom: 32px;
}

.price-card__type {
  text-align: center;
  width: 212px;
  margin-bottom: 20px;
  font-family: var(--montserrat-alternates-family);
  font-weight: var(--montserrat-alternates-font-weight-600);
  font-size: 18px;
  line-height: 22px;
}

.price-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.price-card__item::before {
  content: url("../images/icon-list.svg");
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/*.price-card__item::before {
content: "";
width: 24px;
height: 24px;
padding: 0;
margin-right: 10px;
background-image: url(../images/icon-list.svg);
}*/
price-card__item-text {
  padding: 0;
}

.price-card__item:last-child {
  margin-bottom: 30px;
}

.price-card__picture {
  position: absolute;
  bottom: 95px;
}

@media screen and (max-width: 767px) {
  .price-card__picture--first {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .price {
    margin-bottom: 80px;
  }
  .price__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .price-card {
    width: 225px;
    height: 580px;
    padding-right: 8px;
  }
  .price-card__type {
    font-size: 18px;
    line-height: 22px;
  }
  .price-card__item {
    font-size: 16px;
    line-height: 20px;
  }
  .price-card a {
    margin-bottom: 0;
  }
  .price-card a {
    position: absolute;
    bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .price {
    margin-bottom: 100px;
  }
  .price__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .price-card {
    position: relative;
    width: 375px;
    height: 610px;
    padding: 28px 5px 40px 10px;
  }
  .price-card__type {
    width: 250px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
  }
  .price-card__item {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
  }
  .price-card a {
    margin-bottom: 0;
  }
  .price-card a {
    position: absolute;
    bottom: 40px;
  }
}
.contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f7f7;
}
.contact__form {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact__form {
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__form {
    max-width: 394px;
  }
}
.contact__title {
  margin-bottom: 27px;
}

.subtitle {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 768px) {
  .subtitle {
    font-size: 18px;
    line-height: 1.222;
    margin-bottom: 27px;
  }
}

.input__field {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
  border-bottom: 1px solid #3c322d;
  background-color: transparent;
}

.contact__label {
  width: 100%;
}
.contact__label--email {
  margin-bottom: 16px;
}
.contact__label--question {
  margin-bottom: 28px;
}
@media screen and (min-width: 1280px) {
  .contact__label--question {
    margin-bottom: 32px;
  }
}

.footer {
  padding-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-bottom: 100px;
  }
}
.footer__social--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer__social--list {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social--list {
    margin-bottom: 100px;
  }
}
.footer__donuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .footer__donuts {
    display: none;
  }
}

.address__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address__contact--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  color: #2E2520;
  text-decoration: none;
  font-style: normal;
}

.address__icon {
  margin-right: 4px;
}
@media screen and (min-width: 768px) {
  .address__icon {
    display: none;
  }
}

.registration__title {
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 27px;
}

.picture {
  display: none;
}
@media screen and (min-width: 768px) {
  .picture {
    position: absolute;
    bottom: 20px;
    left: 23px;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .picture {
    bottom: 16px;
    left: 15px;
  }
}

.registration__background {
  position: relative;
  margin: 0 auto;
  padding: 40px 8px 32px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 44, 44, 0.6)), to(rgba(61, 44, 44, 0.6))), url("../images/reg-img480.jpg") no-repeat center/cover, -webkit-gradient(linear, left top, left bottom, from(rgb(246, 247, 247)), to(rgb(246, 247, 247)));
  background: -o-linear-gradient(rgba(61, 44, 44, 0.6), rgba(61, 44, 44, 0.6)), url("../images/reg-img480.jpg") no-repeat center/cover, -o-linear-gradient(rgb(246, 247, 247), rgb(246, 247, 247));
  background: linear-gradient(rgba(61, 44, 44, 0.6), rgba(61, 44, 44, 0.6)), url("../images/reg-img480.jpg") no-repeat center/cover, linear-gradient(rgb(246, 247, 247), rgb(246, 247, 247));
  -webkit-box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
          box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 10px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .registration__background {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 44, 44, 0.6)), to(rgba(61, 44, 44, 0.6))), url("../images/reg-img480@2x.jpg") no-repeat center/cover, -webkit-gradient(linear, left top, left bottom, from(rgb(246, 247, 247)), to(rgb(246, 247, 247)));
    background: -o-linear-gradient(rgba(61, 44, 44, 0.6), rgba(61, 44, 44, 0.6)), url("../images/reg-img480@2x.jpg") no-repeat center/cover, -o-linear-gradient(rgb(246, 247, 247), rgb(246, 247, 247));
    background: linear-gradient(rgba(61, 44, 44, 0.6), rgba(61, 44, 44, 0.6)), url("../images/reg-img480@2x.jpg") no-repeat center/cover, linear-gradient(rgb(246, 247, 247), rgb(246, 247, 247));
  }
}
@media screen and (min-width: 768px) {
  .registration__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 704px;
    padding: 40px 40px 52px 62px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../images/white-fone-768.png"), url("../images/black-fone-768.png"), url("../images/reg-img768.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 100%, 100% 0, 100% 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .registration__background {
    background-image: url("../images/white-fone-768@2x.png"), url("../images/black-fone-768@2x.png"), url("../images/reg-img768@2x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (min-width: 1280px) {
  .registration__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1034px;
    padding: 40px 232px 40px 213px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../images/white-fone1200.png"), url("../images/black-fone-1200.png"), url("../images/reg-img1200.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 100%, 100% 0, 100% 0;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .registration__background {
    background-image: url("../images/white-fone1200@2x.png"), url("../images/black-fone-1200@2x.png"), url("../images/reg-img1200@2x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 767.98px) {
  .form__wrap {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .form__text--wrapper {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .form__text--wrapper {
    margin-right: 56px;
  }
}

.form__text--first {
  font-weight: 500;
  max-width: 114px;
  font-size: 18px;
  line-height: 1.2;
  color: var(--accent-white-color);
}
@media screen and (max-width: 767.98px) {
  .form__text--first {
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .form__text--first {
    display: inline-block;
    width: 90px;
    color: #000000;
    text-align: end;
  }
}
@media screen and (min-width: 1280px) {
  .form__text--first {
    width: 127px;
  }
}

.form__text--second {
  max-width: 200px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-white-color);
}
@media screen and (max-width: 767.98px) {
  .form__text--second {
    margin: 0 auto 20px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .form__text--second {
    margin-bottom: 20px;
    color: #000000;
  }
}
@media screen and (min-width: 1280px) {
  .form__text--second {
    max-width: 267px;
    font-size: 20px;
    line-height: 24px;
  }
}

.registration__form {
  position: relative;
}
.registration__form::before {
  position: absolute;
  content: "";
  top: -20px;
  display: block;
  background-color: var(--accent-white-color);
  width: 100%;
  height: 1px;
}
@media screen and (min-width: 768px) {
  .registration__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .registration__form::before {
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: -24px;
    top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .registration__form::before {
    left: -28px;
    top: 0;
  }
}

.registration__label {
  display: block;
}
@media screen and (min-width: 768px) {
  .registration__label {
    max-width: 80%;
  }
}

.registration__label:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .registration__label:not(:last-child) {
    margin-bottom: 16px;
  }
}

.registration__input {
  width: 100%;
  color: var(--accent-white-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--accent-white-color);
  font-size: 16px;
  line-height: 1.25;
  outline: none;
}
.registration__input::-webkit-input-placeholder {
  color: var(--accent-white-color);
}
.registration__input::-moz-placeholder {
  color: var(--accent-white-color);
}
.registration__input:-ms-input-placeholder {
  color: var(--accent-white-color);
}
.registration__input::-ms-input-placeholder {
  color: var(--accent-white-color);
}
.registration__input::placeholder {
  color: var(--accent-white-color);
}
@media screen and (min-width: 768px) {
  .registration__input {
    color: #000000;
    border-bottom: 1px solid #000000;
    padding: 0;
  }
  .registration__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .registration__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .registration__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .registration__input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .registration__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

.button.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: var(--accent-white-color);
  background-color: var(--acent-color);
  border-radius: 25px;
  border: none;
  width: 145px;
  padding: 8px 0;
  margin: 0 auto;
}
.button.registration:hover {
  color: var(--acent-color);
  background: var(--hover-white-color);
  border: 1px solid var(--acent-color);
}
.button.registration:active {
  border: 1px solid var(--hover-white-color);
}
@media screen and (min-width: 768px) {
  .button.registration {
    height: 40px;
    margin: 0;
  }
}/*# sourceMappingURL=index.css.map */