<section class="contact">
    <div class="container">
        <form class="contact__form">
			<h2 class="title contact__title">Contact</h2>
        <p class="subtitle">We will answer any question</p>
            <label class="contact__label contact__label--email">
                <input
                    type="email"
                    name="email"
                    class="input__field "
                    placeholder="Email"
                    required
            /></label>
            <label class="contact__label contact__label--question">
                <input
                    type="text"
                    name="question"
                    class="input__field "
                    placeholder="Type your question"
                    required
            /></label>
            <button class="registration-button" type="submit">Send</button>
        </form>
    </div>
</section>
