<footer class="footer">
    <div class="container">
        <ul class="footer__social--list">
            <li>
                <a class="" href="#" target="_blank" aria-label="twitter">
                    <svg class="" width="16" height="16">
                        <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="" href="#" target="_blank" aria-label="instagram">
                    <svg class="" width="16" height="16">
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="" href="#" target="_blank" aria-label="facebook">
                    <svg class="" width="16" height="16">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <address class="address">
            <ul class="address__contact">
                <li>
                    <a class="address__contact--link" href="tel:9102228855"
                        ><svg class="address__icon" width="13" height="12.67">
                            <use
                                href="./images/icons.svg#icon-phone"
                            ></use></svg
                        >(910)222-8855</a
                    >
                </li>
                <li>
                    <a class="address__contact--link" href="NewYork"
                        ><svg class="address__icon" width="11" height="14.08">
                            <use
                                href="./images/icons.svg#icon-navigation"
                            ></use></svg
                        >New York</a
                    >
                </li>
            </ul>
        </address>
        <picture class="footer__donuts">
            <source
                srcset="
                    ./images/footer-donuts-480.png    1x,
                    ./images/footer-donuts-480@2x.png 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
            />
            <img
                src="./images/footer-donuts-480.jpg"
                srcset="
                    ./images/footer-donuts-480.jpg    1x,
                    ./images/footer-donuts-480@2x.jpg 2x
                "
                alt=""
            />
        </picture>
    </div>
</footer>
