    <section class="program section" id="program">
        <div class="container program__conteiner">
            <div class="program__text-box">
                <h2 class="program__header">Program</h2>
                <p class="program__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen
                in her New York donut shop!</p>
                <ul class="program__list">
                    <li class="program__item">
                        <p class="program__item-text">A  stand up history of donuts</p>
                    </li>
                    <li class="program__item"><p class="program__item-text">Make 3 donut flavors of your choice</p>
                    </li>
                    <li class="program__item">
                        <p class="program__item-text">Enjoy all-you-can-eat donuts</p>
                    </li>
                    <li class="program__item">
                        <p class="program__item-text">Cocktail pairings and coffee included</p>
                    </li>
                    <li class="program__item">
                        <p class="program__item-text">Photoshoot by professional photographer</p>
                    </li>
                    <li class="program__item">
                        <p class="program__item-text">Secret receipt of cooking from Eva</p>
                    </li>
                    <li class="program__item">
                        <p class="program__item-text">All products are included in the price</p>
                    </li>
                </ul>
                <div class="shown-content">
                    <input type="checkbox" id="shown-content-input" class="shown-content__input">
                    <p class="program__text shown-content__text">Come with your dear people and friends
                and you will spend an unforgettable time and
                 will become a real professional
                in donuts cooking! </p>
                    <label class="shown-content__label" for="shown-content-input">
                        <span class="shown-content__open-text">Read more</span>
                        <span class="shown-content__close-text">Read less</span>
                    </label>
                </div>
            </div>
            <div class="program__img-box">
                <ul class="program__img-list program__img-list--left">
                    <li class="program__img-item">
                        <div class="program__img-thumb" >
                            <img class="program__img" srcset="./images/program/program-01.jpg 1x, ./images/program/program-01@2x.jpg 2x"
                        src="./images/program/program-01.jpg"
                        alt="Making donuts">
                        <div class="program__img-desc">
                            <p class="program__img-title">Type of the event</p>
                            <p class="program__img-text">Cooking classes</p>
                        </div>
                        </div>
                        
                    </li>
                    <li class="program__img-item">
                        <div class="program__img-thumb">
                        <img class="program__img" srcset="./images/program/program-03.jpg 1x, ./images/program/program-03@2x.jpg 2x"
                        src="./images/program/program-03.jpg"
                        alt="A cook with an alarm clock"
                        >
                        <div class="program__img-desc">
                            <p class="program__img-title">Type of the event</p>
                            <p class="program__img-text">18:30 (2.5 hours)</p>
                        </div>
                        </div>
                        
                    </li>
                </ul>
                <ul class="program__img-list program__img-list--right">
                    <li class="program__img-item">
                                <div class="program__img-thumb">
                                    <img class="program__img" srcset="./images/program/program-02.jpg 1x, ./images/program/program-02@2x.jpg 2x"
                                        src="./images/program/program-02.jpg" alt="Two young ledies are eating donuts">
                                    <div class="program__img-desc">
                                        <p class="program__img-title">Number of guests</p>
                                        <p class="program__img-text">1 to 20</p>
                                    </div>
                                </div>
                        
                            </li>
                    <li class="program__img-item">
                                <div class="program__img-thumb">
                                    <img class="program__img" srcset="./images/program/program-04.jpg 1x, ./images/program/program-04@2x.jpg 2x"
                                        src="./images/program/program-04.jpg" alt="Young lady is talking something ">
                                    <div class="program__img-desc">
                                        <p class="program__img-title">The host speaks</p>
                                        <p class="program__img-text">English, French</p>
                                    </div>
                                </div>
                            </li>
                </ul>
            </div>
        </div>
    </section>
</div>