<section class="registration section" id="registration">
    <div class="container">
        <h2 class="registration__title">Registration</h2>
        <div class="registration__background">
            <picture>
                <source
                    srcset="
                        ./images/donuts1200.png    1x,
                        ./images/donuts1200@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 1280px)"
                />
                <source
                    srcset="
                        ./images/donuts768.png    1x,
                        ./images/donuts768@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 768px)"
                />
                <img
                    class="picture"
                    src="./images/donuts1200.png"
                    alt="donuts"
                />
            </picture>
            <div class="form__content">
                <div class="form__text--wrapper">
                    <p class="form__text--first">May 23, 11:00 New York</p>
                </div>
                <form class="registration__form">
                    <div class="form__wrap">
                        <p class="form__text--second">
                            Apply your personal info for registration
                        </p>
                        <label for="input_name" class="registration__label">
                            <input
                                required
                                class="registration__input"
                                type="text"
                                name="name"
                                id="input_name"
                                placeholder="Your name"
                                pattern="[a-ZA-Zа-яА-ЯіІїЇ]{35}"
                            />
                        </label>
                        <label for="input_tel" class="registration__label">
                            <input
                                required
                                class="registration__input"
                                type="tel"
                                name="tel"
                                id="input_tel"
                                placeholder="Phone number"
                                pattern="[+]38[0-9]{10}"
                                title="+XX XXX XXX XX XX"
                            />
                        </label>
                        <label for="input_mail" class="registration__label">
                            <input
                                required
                                class="registration__input"
                                type="email"
                                name="mail"
                                id="input_mail"
                                placeholder="Email"
                                pattern="[A-Za-z0-9._+-]+@[A-Za-z0-9 -]+\.[a-z]{2,}"
                                title="example@gmail.com"
                            />
                        </label>
                    </div>
                    <button type="submit" class="registration-button">
                        Register
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
