<section class="section reviews" id="reviews">
    <div class="container">
        <h2 class="reviews__title">Reviews</h2>
        <ul class="slider">
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/john-480.png    1x,
                                    ./images/reviews/john-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/john-1280.png    1x,
                                    ./images/reviews/john-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/john-768.png    1x,
                                    ./images/reviews/john-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/john-1280.png"
                                alt="john"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-empty-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">John</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/will-480.png    1x,
                                    ./images/reviews/will-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/will-1280.png    1x,
                                    ./images/reviews/will-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/will-768.png    1x,
                                    ./images/reviews/will-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/will-1280.png"
                                alt="will"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">Will</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-480.png    1x,
                                    ./images/reviews/elizabeth-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-1280.png    1x,
                                    ./images/reviews/elizabeth-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-768.png    1x,
                                    ./images/reviews/elizabeth-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/elizabeth-1280.png"
                                alt="elizabeth"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">Elizabeth</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/john-480.png    1x,
                                    ./images/reviews/john-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/john-1280.png    1x,
                                    ./images/reviews/john-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/john-768.png    1x,
                                    ./images/reviews/john-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/john-1280.png"
                                alt="john"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-empty-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">John</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/will-480.png    1x,
                                    ./images/reviews/will-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/will-1280.png    1x,
                                    ./images/reviews/will-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/will-768.png    1x,
                                    ./images/reviews/will-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/will-1280.png"
                                alt="will"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">Will</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-480.png    1x,
                                    ./images/reviews/elizabeth-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-1280.png    1x,
                                    ./images/reviews/elizabeth-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-768.png    1x,
                                    ./images/reviews/elizabeth-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/elizabeth-1280.png"
                                alt="elizabeth"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">Elizabeth</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/john-480.png    1x,
                                    ./images/reviews/john-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/john-1280.png    1x,
                                    ./images/reviews/john-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/john-768.png    1x,
                                    ./images/reviews/john-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/john-1280.png"
                                alt="john"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-empty-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">John</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/will-480.png    1x,
                                    ./images/reviews/will-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/will-1280.png    1x,
                                    ./images/reviews/will-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/will-768.png    1x,
                                    ./images/reviews/will-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/will-1280.png"
                                alt="will"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">Will</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-480.png    1x,
                                    ./images/reviews/elizabeth-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-1280.png    1x,
                                    ./images/reviews/elizabeth-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-768.png    1x,
                                    ./images/reviews/elizabeth-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/elizabeth-1280.png"
                                alt="elizabeth"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">Elizabeth</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/john-480.png    1x,
                                    ./images/reviews/john-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/john-1280.png    1x,
                                    ./images/reviews/john-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/john-768.png    1x,
                                    ./images/reviews/john-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/john-1280.png"
                                alt="john"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-empty-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">John</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/will-480.png    1x,
                                    ./images/reviews/will-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/will-1280.png    1x,
                                    ./images/reviews/will-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/will-768.png    1x,
                                    ./images/reviews/will-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/will-1280.png"
                                alt="will"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">Will</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider__image-wrapper">
                        <picture>
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-480.png    1x,
                                    ./images/reviews/elizabeth-480@2x.png 2x
                                "
                                type="image/png"
                                media="(max-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-1280.png    1x,
                                    ./images/reviews/elizabeth-1280@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/reviews/elizabeth-768.png    1x,
                                    ./images/reviews/elizabeth-768@2x.png 2x
                                "
                                type="image/png"
                                media="(min-width: 768px)"
                            />
                            <img
                                class="slider__image"
                                src="./images/reviews/elizabeth-1280.png"
                                alt="elizabeth"
                            />
                        </picture>
                    </div>

                    <ul class="slider__star-list">
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                        <li class="slider__star">
                            <svg
                                class="slider__star-icon"
                                width="24"
                                height="24"
                            >
                                <use
                                    href="./images/icons.svg#icon-full-star"
                                ></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider__person-name">Elizabeth</p>
                </div>
            </li>
        </ul>
        <ul class="slidertext">
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
            <li class="slidertext__item">
                <p class="slidertext__comment">
                    Last time I have visited a cooking course by Eva I was
                    impressed with the way she explained everything to people.
                    You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one
                    and highly recommend it to everyone!
                </p>
            </li>
        </ul>
    </div>
</section>
