<section class="speakers section" id="speakers">
    <h2 class="title">Speakers</h2>
    <div class="container">
        <ul class="speakers__list flex-container">
            <li class="speakers__item">
                <div class="speakers__picture-wrapper">
                    <picture>
                        <source
                            srcset="
                                ./images/speakers/img1-480.png    1x,
                                ./images/speakers/img1-480@2x.png 2x
                            "
                            type="image/png"
                            media="(max-width: 767px)"
                        />
                        <source
                            srcset="
                                ./images/speakers/img1-1280.png    1x,
                                ./images/speakers/img1-1280@2x.png 2x
                            "
                            type="image/png"
                            media="(min-width: 1280px)"
                        />
                        <source
                            srcset="
                                ./images/speakers/img1-768.png    1x,
                                ./images/speakers/img1-768@2x.png 2x
                            "
                            type="image/png"
                            media="(min-width: 768px)"
                        />

                        <img
                            class="speakers__picture"
                            src="./images/speakers/img1-1280.png"
                            alt=""
                        />
                    </picture>
                </div>
                <div>
                    <h3 class="speakers__title">Molly Rivera</h3>
                    <p class="speakers__profession">
                        Pastry chef, master chocolatier of Spain
                    </p>
                </div>
            </li>
            <li class="speakers__item">
                <div class="speakers__picture-wrapper">
                    <picture>
                        <source
                            srcset="
                                ./images/speakers/img2-480.png    1x,
                                ./images/speakers/img2-480@2x.png 2x
                            "
                            type="image/png"
                            media="(max-width: 767px)"
                        />
                        <source
                            srcset="
                                ./images/speakers/img2-1280.png    1x,
                                ./images/speakers/img2-1280@2x.png 2x
                            "
                            type="image/png"
                            media="(min-width: 1280px)"
                        />
                        <source
                            srcset="
                                ./images/speakers/img2-768.png    1x,
                                ./images/speakers/img2-768@2x.png 2x
                            "
                            type="image/png"
                            media="(min-width: 768px)"
                        />

                        <img
                            class="speakers__picture"
                            src="./images/speakers/img2-1280.png"
                            alt=""
                        />
                    </picture>
                </div>
                <div>
                    <h3 class="speakers__title">Sophia Clark</h3>
                    <p class="speakers__profession">Сulinary school pastry chef</p>
                </div>
            </li>
            <li class="speakers__item">
                <div class="speakers__picture-wrapper">
                    <picture>
                        <source
                            srcset="
                                ./images/speakers/img3-480.png    1x,
                                ./images/speakers/img3-480@2x.png 2x
                            "
                            type="image/png"
                            media="(max-width: 767px)"
                        />
                        <source
                            srcset="
                                ./images/speakers/img3-1280.png    1x,
                                ./images/speakers/img3-1280@2x.png 2x
                            "
                            type="image/png"
                            media="(min-width: 1280px)"
                        />
                        <source
                            srcset="
                                ./images/speakers/img3-768.png    1x,
                                ./images/speakers/img3-768@2x.png 2x
                            "
                            type="image/png"
                            media="(min-width: 768px)"
                        />

                        <img
                            class="speakers__picture"
                            src="./images/speakers/img3-1280.png"
                            alt=""
                        />
                    </picture>
                </div>
                <div>
                    <h3 class="speakers__title">Isabella Taylor</h3>
                    <p class="speakers__profession">
                        Сonsultant in the art of confectionery
                    </p>
                </div>
            </li>
            <li class="speakers__item">
                <div class="speakers__picture-wrapper">
                    <picture>
                        <source
                            srcset="
                                ./images/speakers/img4-480.png    1x,
                                ./images/speakers/img4-480@2x.png 2x
                            "
                            type="image/png"
                            media="(max-width: 767px)"
                        />
                        <source
                            srcset="
                                ./images/speakers/img4-1280.png    1x,
                                ./images/speakers/img4-1280@2x.png 2x
                            "
                            type="image/png"
                            media="(min-width: 1280px)"
                        />
                        <source
                            srcset="
                                ./images/speakers/img4-768.png    1x,
                                ./images/speakers/img4-768@2x.png 2x
                            "
                            type="image/png"
                            media="(min-width: 768px)"
                        />

                        <img
                            class="speakers__picture"
                            src="./images/speakers/img4-1280.png"
                            alt=""
                        />
                    </picture>
                </div>
                <div>
                    <h3 class="speakers__title">Evelyn Miller</h3>
                    <p class="speakers__profession">Master-chocolatier in Spain</p>
                </div>
            </li>
        </ul>
    </div>
</section>
