.about {
	margin-bottom: 28px;

	@media screen and (min-width: $tablet) {
		margin-bottom: 80px;
	}	
	@media screen and (min-width: $tablet) {
		margin-bottom: 100px;
	}

	&__wrapper {
		display: flex;

		@media screen and (max-width: $pre-tablet) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__img-wrapper {
		@media screen and (max-width: $pre-tablet) {
			margin-bottom: 28px;
			width: 100%;
		}
		@media screen and (min-width: $tablet) {
			flex: 1;
			margin-right: 31px;
		}
	}
	&__image {
		border-radius: 40px;
		@media screen and (max-width: $pre-tablet) {
			width: 100%;
		}
	}
	&__content-wrapper {
		flex: 1;
	}
	&__title {
		font-family: var(--montserrat-alternates-family);
		font-weight: var(--montserrat-alternates-font-weight-500);
		font-size: 24px;
		line-height: 1.2;
		margin: 0 auto;
		color: var(--main-color);
		margin-bottom: 8px;

		@media screen and (max-width: $pre-tablet) {
			text-align: center;
		}
		@media screen and (min-width: $tablet) {
			font-size: 32px;
			margin-bottom: 28px;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 1.25;
		color: var(--main-color);
		margin-bottom: 20px;

		@media screen and (min-width: $desctop) {
			font-size: 18px;
			line-height: 1.22;
			margin-bottom: 22px;
		}
	}
	&__text-second {
		@media screen and (max-width: $pre-tablet) {
			margin-bottom: 18px;
		}
		@media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
			margin-bottom: 28px;
		}
	}
	&__text-more {
		display: none;

		@media screen and (min-width: $desctop) {
			margin-bottom: 0;
			display: block;
		}
	}
	&__button {
		border: none;
		background-color: transparent;
		color: var(--main-color);
		font-weight: 500;
		font-size: 16px;
		line-height: 1.25;
		text-align: center;
		transition: color var(--general-transition-effect);

		@media screen and (min-width: $desctop) {
			display: none;
		}

		&:hover,
		&:focus {
			color: var(--acent-color);
		}
	}
}
