.contact {
	margin-bottom: 30px;
	justify-content: center;

	&__form {
		max-width: 280px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0 auto;

		@media screen and (min-width: $tablet) {
			max-width: 336px;
		}
		@media screen and (min-width: $desctop) {
			max-width: 394px;
		}
	}
	&__title {
		margin-bottom: 27px;
	}
	&__subtitle {
		font-family: var(--montserrat-family);
		font-size: 16px;
		line-height: 1.25;
		text-align: center;
		margin-bottom: 16px;

		@media screen and (min-width: $tablet) and (max-width: $tablet) {
			font-size: 18px;
			line-height: 1.22;
			margin-bottom: 27px;
		}
	}
	&__label {
		width: 100%;

		&--email {
			margin-bottom: 16px;
		}
		&--question {
			margin-bottom: 28px;
			@media screen and (min-width: $desctop) {
				margin-bottom: 32px;
			}
		}
	}
	&__input {
		width: 100%;
		font-size: 16px;
		line-height: 1.25;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: var(--main-color);
		background-color: transparent;

		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
		}
	}
}

.contact__input:not(:placeholder-shown):focus {
	border-bottom-color: orange;
}
.contact__input:not(:placeholder-shown):invalid:not(:focus) {
	border-bottom-color: red;
	animation: shake 0.65s;
}
.contact__input:not(:placeholder-shown):valid:not(:focus) {
	border-bottom-color: green;
}
.contact__form:invalid button {
	pointer-events: none;
	border-color: #ffd1d4bd;
	background-color: #ffd1d4bd;
}
