.program {
	margin-bottom: 35px;

	@media screen and (min-width: $tablet) {
		margin-bottom: 44px;
	}
	@media screen and (min-width: $desctop) {
		margin-bottom: 100px;
	}

	&__conteiner {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (min-width: $tablet) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
	&__text-box {
		@media screen and (max-width: $pre-tablet) {
			max-width: 440px;
			margin-bottom: 24px;
		}
		@media screen and (min-width: $tablet) {
			max-width: 329px;
		}
		@media screen and (min-width: $desctop) {
			max-width: 417px;
			flex: 1;
			margin: auto 0;
		}
	}
	&__header {
		margin-bottom: 8px;
		font-family: var(--montserrat-alternates-family);
		font-size: 24px;
		font-weight: var(--montserrat-alternates-font-weight-500);
		line-height: 1.21;
		text-align: center;

		@media screen and (min-width: $tablet) {
			font-size: 32px;
			margin-bottom: 28px;
			text-align: left;
		}
		@media screen and (min-width: $desctop) {
			margin-bottom: 24px;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 1.21;

		@media screen and (min-width: $desctop) {
			font-size: 18px;
		}
	}
	&__list {
		margin-top: 8px;
		margin-bottom: 16px;

		@media screen and (min-width: $tablet) {
			margin-top: 12px;
			margin-bottom: 28px;
		}
		@media screen and (min-width: $desctop) {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

.program__item {
	display: inline-flex;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 8px;

		@media screen and (min-width: $tablet) {
			margin-bottom: 12px;
		}
		@media screen and (min-width: $desctop) {
			margin-bottom: 16px;
		}
	}

	&::before {
		content: "";
		background-image: url(../images/program/icon.svg);
		background-position: center;
		background-repeat: no-repeat;
		margin-right: 8px;
		padding: 12px;

		@media screen and (min-width: $desctop) {
			margin-right: 16px;
		}
	}
}

.program__item-text {
	font-size: 16px;
	line-height: 1.21;

	@media screen and (min-width: $desctop) {
		font-size: 18px;
	}
}

.shown-content {
	display: flex;
	flex-direction: column;
}

.shown-content__input {
	&:checked + .shown-content__text {
		display: block;
	}
}

.shown-content__input {
	position: absolute;
	appearance: none;
}

.shown-content__text {
	display: none;
	margin-bottom: 16px;

	@media screen and (min-width: $tablet) {
		margin-bottom: 28px;
	}

	@media screen and (min-width: $desctop) {
		display: block;
		margin-bottom: 0;
	}
}

.shown-content__label {
	display: inline-block;
	width: 100%;

	@media screen and (min-width: $desctop) {
		display: none;
	}
}

.shown-content__open-text {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.21;
}

.shown-content__close-text {
	display: none;

	font-size: 18px;
	font-weight: 500;
	line-height: 1.21;
}

.shown-content__input:checked ~ .shown-content__label {
	.shown-content__open-text {
		display: none;
	}

	.shown-content__close-text {
		display: inline-block;
	}
}

.program__img-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media screen and (min-width: $tablet) {
		max-width: 337px;
		padding-top: 19px;
	}

	@media screen and (min-width: $desctop) {
		max-width: 716px;
		padding-top: 0;
		flex: 1;
	}
}

.program__img-list {
	--img-list-gap-mobile: 20px;
	--img-list-gap-tablet: 30px;
	--img-list-gap-desctop: 140px;
	flex-basis: calc((100% - var(--img-list-gap-mobile)) / 2);

	@media screen and (min-width: $tablet) {
		flex-basis: calc((100% - var(--img-list-gap-tablet)) / 2);
	}
	@media screen and (min-width: $desctop) {
		flex-basis: calc((100% - var(--img-list-gap-desctop)) / 2);
	}
	&--left {
		// margin-right: 20px;

		@media screen and (min-width: $tablet) {
			// margin-right: 32px;
		}

		@media screen and (min-width: $desctop) {
			// margin-right: 139px;
		}
	}
	&--right {
	padding-top: 20px;

	@media screen and (min-width: $tablet) {
		padding-top: 39px;
	}

	@media screen and (min-width: $desctop) {
		padding-top: 59px;
	}
}
}

.program__img-item:not(:last-child) {
	margin-bottom: 28px;

	@media screen and (min-width: $tablet) {
		margin-bottom: 40px;
	}
}



.program__img-thumb {
	position: relative;
	overflow: hidden;

	border: 1px solid var(--acent-color);
	border-radius: 50%;
	filter: drop-shadow(10px 15px 25px rgba(210, 201, 201, 0.45));

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;

		background: linear-gradient(0deg, #000000 -12%, rgba(156, 156, 156, 0) 56.6%);
	}
}

.program__img-desc {
	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
	min-width: 100%;

	@media screen and (min-width: $desctop) {
		bottom: 32px;
	}
}

.program__img-title {
	margin-bottom: 8px;
	font-family: var(--montserrat-alternates-family);
	font-size: 14px;
	font-weight: var(--montserrat-alternates-font-weight-500);
	line-height: 1.21;
	text-align: center;
	color: var(--text-white-color);

	@media screen and (min-width: $tablet) {
		font-size: 16px;
	}

	@media screen and (min-width: $desctop) {
		margin-bottom: 16px;
		font-size: 24px;
	}
}

.program__img-text {
	font-size: 12px;
	line-height: 1.25;
	text-align: center;
	color: var(--text-white-color);

	@media screen and (min-width: $tablet) {
		font-size: 14px;
	}

	@media screen and (min-width: $desctop) {
		font-size: 16px;
	}
}
