.registration-button {
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	line-height: 1.22;
	width: 145px;
	height: 40px;
	text-align: center;
	padding: 9px;
	border: 1px solid var(--acent-color);
	border-radius: 25px;
	background-color: var(--acent-color);
	filter: drop-shadow(rgba(232, 183, 183, 0.45) 10px 15px 25px);
	text-decoration: none;
	color: var(--accent-white-color);
	transition: color var(--general-transition-effect), background-color var(--general-transition-effect),
		box-shadow var(--general-transition-effect);

	&:hover,
	&:focus {
		background-color: var(--text-white-color);
		color: var(--acent-color);
	}

	&:active {
		color: var(--text-white-color);
		background-color: var(--acent-color);
		box-shadow: rgba(107, 66, 66, 0.25) 0px 4px 4px inset;
	}
}