.registration__title {
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-color);

    margin-bottom: 27px;
}

.picture{
    display: none;

    @media screen and (min-width: $tablet){
        position: absolute;
        bottom: 20px;
        left: 23px;
        display: block;
        width: 100px;
        height: 66px;
    }
}

.registration__background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(61, 44, 44, 0.6),rgba(61, 44, 44, 0.6)),
     url("../images/reg-img480.jpg"), linear-gradient(rgb(246, 247, 247), rgb(246, 247, 247));
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
    border-radius: 10px;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    
            background-image: linear-gradient(rgba(61, 44, 44, 0.6), rgba(61, 44, 44, 0.6)),
                url("../images/reg-img480@2x.jpg"), linear-gradient(rgb(246, 247, 247), rgb(246, 247, 247));
            background-repeat: no-repeat;
            background-size: cover;
    
        }
    
    @media screen and (min-width: $tablet){
        display: flex;
        height: 246px;
        background-image: url("../images/white-fone-768.png"), url("../images/black-fone-768.png"), url("../images/reg-img768.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position:0 100%, 100% 0, 100% 0;
    }

}

.form__text--wrapper{
    @media screen and (min-width: $tablet){
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 62px;
    margin-right: 32px;
}

}

.form__text--first {
    max-width: 114px;  
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;

    color: var(--accent-white-color);

    @media screen and (min-width: $tablet){
        display: inline-block;
        padding: 0;
        margin-left: 62px;
        margin-right: 56px;
        margin: 0;
        width: 90px;
        color: #000000;
    }
}

.form__text--second {
    max-width: 265px;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--accent-white-color);

    @media screen and (max-width: $pre-tablet){
        text-align: center;
    }

    @media screen and (min-width: $tablet) {
            color: #000000;
            padding-bottom: 18px;
        }
}

.registration__form {
    margin: 0 8px;

    
    &::before{
        content: "";
        display: block;
        background-color: var(--accent-white-color);
        width: 100%;
        height: 1px;
    }

    @media screen and (min-width: $tablet){
        position: relative;
        display: flex;
        align-items: center;
        margin: 0;
        &::before{
            position: absolute;
            width: 1px;
            height: 154px;
            background-color: #000000;
            left: -24px;
            bottom: 32px;
        }
    }
}

.form__wrap{
    margin-bottom: 32px;
    @media screen and (min-width: $tablet) {
        margin-right: 74px;
        margin-bottom: 0;
    }
}

.registration__label:not(:last-child){
    display: block;
    margin-bottom: 20px;
    @media screen and (min-width: $tablet){
        margin-bottom: 18px;
    }
}

.registration__input {
    width: 100%;
    color: var(--accent-white-color);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--accent-white-color);
    font-size: 16px;
    line-height: 1.25;

    &::placeholder {
        color: var(--accent-white-color);
    }

    @media screen and (min-width: $tablet){
        border-bottom: 1px solid #000000;

        &::placeholder{
            color: #2E2520;
        }
    }
}

.button.registration {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--accent-white-color);
    background-color: var(--acent-color);
    border-radius: 25px;
    border: none;
    width: 145px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 auto;
    margin-bottom: 32px;

    &:hover {
        color: var(--acent-color);
        background: var(--hover-white-color);
        border: 1px solid var(--acent-color);
    }

    &:active {
        border: 1px solid var(--hover-white-color);
    }

        @media screen and (min-width: $tablet){
            height: 40px;
            margin-bottom: 0;
        }
}