.section-title {
	font-family: var(--montserrat-alternates-family);
	font-weight: var(--montserrat-alternates-font-weight-600);
	font-size: 24px;
	line-height: 1.21;
	text-align: center;

	@media screen and (min-width: $tablet) {
		font-weight: var(--montserrat-alternates-font-weight-500);
		font-size: 32px;
		line-height: 1.22;
	}
	@media screen and (min-width: $desctop) {
		margin-bottom: 100px;
	}
}

.price {
	margin-bottom: 40px;
	@media screen and (min-width: $tablet) {
		margin-bottom: 80px;
	}
	@media screen and (min-width: $desctop) {
		margin-bottom: 100px;
	}

	&__title {
		margin-bottom: 27px;
		@media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
			margin-bottom: 31px;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@media screen and (min-width: $tablet) {
			gap: 15px;
		}
	}
}

.price-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 20px 13px;
	background: #fafbfb;
	box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
	border-radius: 25px;
	border: 1px solid transparent;
	transition: border-color var(--general-transition-effect);

	@media screen and (max-width: $pre-tablet) {
		flex-basis: 100%;

		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}
	@media screen and (min-width: $tablet) {
		flex-basis: calc((100% - 15px * 2) / 3);
	}
	@media screen and (min-width: $desctop) {
		flex-basis: calc((100% - 32px * 2) / 3);
		padding: 30px 8px 40px;
	}

	&:hover {
		border-color: var(--acent-color);
	}
	&:hover .price-card__picture {
		opacity: 0;
	}
}

.price-card__type {
	text-align: center;
	max-width: 80%;
	margin-bottom: 20px;
	font-family: var(--montserrat-alternates-family);
	font-weight: var(--montserrat-alternates-font-weight-600);
	font-size: 18px;
	line-height: 1.22;

	@media screen and (min-width: $tablet) {
		font-size: 18px;
		line-height: 1.22;
	}
	@media screen and (min-width: $desctop) {
		margin-bottom: 40px;
		font-size: 20px;
		line-height: 1.2;
	}
}

.price-card__item {
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 1.22;

	&:not(:last-child) {
		margin-bottom: 12px;
	}

	@media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
		font-size: 16px;
		line-height: 1.25;
	}
	&::before {
		content: "";
		background-image: url("../images/icon-list.svg");
		background-position: center;
		background-repeat: no-repeat;
		padding: 12px;
		margin-right: 10px;
	}
}

.price-card__picture {
	position: absolute;
	bottom: 95px;
	transition: opacity var(--general-transition-effect);
}

.price-card__list {
	flex: 1 0 auto;
	margin-bottom: 30px;

	@media screen and (min-width: $tablet) {
		margin-bottom: 35px;
	}
	@media screen and (min-width: $desctop) {
		margin-bottom: 40px;
	}
}
