.social {
	align-items: center;
	display: flex;
	gap: 16px;

	&__icon {
		fill: currentcolor;
	}

	&__link {
		color: var(--main-color);
		display: flex;
		transition: color var(--general-transition-effect);

		&:focus,
		&:hover {
			color: var(--acent-color);
		}
	}
}
