.social {
	display: flex;
	align-items: center;
	gap: 16px;

	&__icon {
		fill: currentColor;
	}
}
.social__link {
	display: flex;
	color: #3c322d;

	&:focus,
	&:hover {
		color: var(--acent-color);
	}
}
